button {
    background-color: brown; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.green {
    background-color: green;
    transform: scale(0.95);
    transition-duration: .2s;
}